<section class="contact">

  <h1>Contact Me</h1>

  <p>
    Have a question or want to work together?
    Send me a message.
  </p>

  <form
    [formGroup]="contactForm"
    (ngSubmit)="submit()">

    <div>

      <label for="name">
        Name
      </label>

      <input
        id="name"
        type="text"
        formControlName="name"
        placeholder="Your name">

        @if (isFieldInvalid('name')) {

  @if (contactForm.controls.name.hasError('required')) {

    <small>
      Name is required.
    </small>

  }

}

    </div>


    <div>

      <label for="email">
        Email
      </label>

      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="your@email.com">

        @if (isFieldInvalid('email')) {

  @if (contactForm.controls.email.hasError('required')) {

    <small>
      Email is required.
    </small>

  }

  @if (contactForm.controls.email.hasError('email')) {

    <small>
      Please enter a valid email.
    </small>

  }

}

    </div>


    <div>

      <label for="subject">
        Subject
      </label>

      <input
        id="subject"
        type="text"
        formControlName="subject"
        placeholder="Subject">

    </div>


    <div>

      <label for="message">
        Message
      </label>

      <textarea
        id="message"
        rows="6"
        formControlName="message"
        placeholder="Write your message...">
      </textarea>

    </div>


    @if (successMessage) {

      <p>
        {{ successMessage }}
      </p>

    }


    @if (errorMessage) {

      <p>
        {{ errorMessage }}
      </p>

    }


    <button
      type="submit"
      [disabled]="isSubmitting">

      @if (isSubmitting) {
        Sending...
      } @else {
        Send Message
      }

    </button>

  </form>

</section>