<h1>My Projects</h1>

<div class="projects">

  @for (project of projects; track project.id) {

    <article>

      <h2>{{ project.title }}</h2>

      <p>
        {{ project.description }}
      </p>

      <p>
        {{ project.technologies }}
      </p>

      @if (project.githubUrl) {
        <a [href]="project.githubUrl"
           target="_blank">
          GitHub
        </a>
      }

      @if (project.liveUrl) {
        <a [href]="project.liveUrl"
           target="_blank">
          Live Demo
        </a>
      }

    </article>

  }

</div>